In [23]:
import random
random.randrange(0,91,5)

40

In [24]:
def foo():
  try:
    return 1
  finally:
    return 2
k = foo()
print(k)

2

In [25]:
def foo():
  try:
    return 1
  except:
    return 2
k = foo()
print(k)

1

In [26]:
def f(x, y, z): return x + y + z
f(2, 30, 400)

432

In [27]:
{a**2 for a in range(4)}

{0, 1, 4, 9}

In [28]:
import copy
a=[10,23,56,[78]]
b=copy.deepcopy(a)
a[3][0]=95
a[1]=34
print(b)

[10, 23, 56, [78]]

In [29]:
import copy

l = [0, 1, [2, 3]]
l_assign = l                   # assignment
l_copy = l.copy()              # shallow copy
l_deepcopy = copy.deepcopy(l)  # deep copy

l[1] = 100
l[2][0] = 200
print(l)
# [0, 100, [200, 3]]

print(l_assign)
# [0, 100, [200, 3]]

print(l_copy)
# [0, 1, [200, 3]]

print(l_deepcopy)
# [0, 1, [2, 3]]

[0, 100, [200, 3]]
[0, 100, [200, 3]]
[0, 1, [200, 3]]
[0, 1, [2, 3]]

In [ ]:
import copy

l = [0, 1, [2, 3]]
l_assign = l                   # assignment
l_copy = l.copy()              # shallow copy
l_deepcopy = copy.deepcopy(l)  # deep copy

l[2][0] = 200
print(l)
# [0, 100, [200, 3]]

print(l_assign)
# [0, 100, [200, 3]]

print(l_copy)
# [0, 1, [200, 3]]

print(l_deepcopy)
# [0, 1, [2, 3]]

In [ ]:
import copy

l = [0, 1, [2, 3]]
l_assign = l                   # assignment
l_copy = l.copy()              # shallow copy
l_deepcopy = copy.deepcopy(l)  # deep copy

l[1] = 100
print(l)
# [0, 100, [200, 3]]

print(l_assign)
# [0, 100, [200, 3]]

print(l_copy)
# [0, 1, [200, 3]]

print(l_deepcopy)
# [0, 1, [2, 3]]

In [ ]:
import copy
a=[10,23,56,[78]]
b=copy.deepcopy(a)
a[3][0]=95
a[1]=34
print(b)

In [ ]:
a=[10,23,56,[78]]
b=copy.copy(a)
a[3][0]=95
a[1]=34
print(a)
print(b)

In [ ]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(len(a))

In [ ]:
a=[1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

In [30]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)

three three was a race horse, two two was three too.

In [31]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was one too.

In [32]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 1)
print(x)

three one was a race horse, two two was one too.

In [33]:
print('abcefd'.replace('cd', '12'))

abcefd

In [34]:
print('abcefd'.replace('ac', '12'))

abcefd

In [35]:
print('abcefd'.replace('ce', '12'))

ab12fd

In [36]:
print('abcdefd'.replace('cd', '12'))

ab12efd